.naveBar{
    display: flex;
    width: 9.1vh;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .divNavegacao{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    button{
        margin-top:1.1rem;
        height: 48px;
        width: 48px;
        border-radius: 6px;
        border: none;
        background-color: #0844c4;
        color: #fff;
}

button:hover{
    background-color: #073db0;
}
.user{
    margin-bottom: 5rem;
}

.buttonSair{
    margin-bottom: 1.1;
    background-color: #63758D  ;
}
.buttonSair:hover{
    background-color: #5b6b7f;
}
}

