.body{
    display: flex;
}
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 6vw;
    height: 3vh;
    
    p{
        font-size: 1rem;
        color: #23282F;
    }
}

.mainReembolsos{
    width: 70vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 30rem ;

    h1{
        font-size: 2rem;
        font-weight: 600;
        color: #23282F;
        font-weight: bold;
       }
    
        p{
            font-size: 1rem;
            color: #23282F;
        }
    }


.containerCards{
    
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.card1{
    width: 15vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid #CBD4E1;
    border-radius: 6px;
    margin-top: 1rem;
    
    p{
        font-size: 1rem;
        color: #23282F;
        font-weight: bold;
    }

}

.card2{
    width: 15vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid #CBD4E1;
    border-radius: 6px;
    margin-top: 1rem;

    p{
        font-size: 1rem;
        color: #23282F;
        font-weight: bold;
    }

}

.card3{
    width: 15vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid #CBD4E1;
    border-radius: 6px;
    margin-top: 1rem;

    p{
        font-size: 1rem;
        color: #23282F;
        font-weight: bold;
    }

}

.containerDados{
    border: solid #CBD4E1;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 6px;
    margin-top: 1rem;

    div{
        
        display: flex;
        align-items: center;
        justify-content:space-evenly ;
        width: 20%;
        height: 5vh;
    }
    
.imgSolicitados{
    background-color: #00bedd;
    padding: 6px;
       
}

.imgAnalises{
    background-color: #e56700 ;
    padding: 6px;
}

.imgAprovados{
    background-color: #007A6A;
    padding: 6px;
}

.imgRejeitados{
    background-color: #a60b2f ;
    padding: 6px;
}

.containerSistema{
    width: 10%;
    display: flex;
    border: solid #0844C4;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
   
}



}