main {
  display: flex;
  align-items: center;
}

.containerLogin {
  width: 65%;
  height: 100vh;

  img {
    height: 100vh;
  }
}

.containerForm{
    width: 35%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxLogo{
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    justify-content: center;
}

h1{
    width: 60%;
    //border: solid pink;
    font-size: 2rem;
    text-align: center;
}

p{
    color: blue;
    font-size: 1rem;
}

form{
    height: 20vh;
    //border: solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;


input{
    height: 4vh;
    width: 15vw;
    border-radius: 6px;
}

}

.boxButton{
    width: 100%;
    //border: solid purple;
    display: flex;
    justify-content: space-evenly;
}

Button{
    width: 5vw;
    height: 5vh;
    border-radius: 6px;
    font-family: 1rem;
    font-weight: bold;
}

.buttonPrimary{
    background-color: #001a3d; /* Cor de fundo preenchendo todo o botão */
    color: white;
    border: #001a3d;

    &:hover {
        background-color:#001a3d ;
        transform: scale(1.05);
    }
}

.buttonSecondary{
    background-color: #0056b3; /* Cor preenchendo todo o botão */
    color: white;
    border: #0056b3 ;

    &:hover {
        background-color: #0056b3;
        transform: scale(1.05); 
    }

}

.forgotPassword {
    color: black;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 10px;

    &:hover {
        color: #0056b3;
    }
}